---
import ProductList from "./react/ProductList";
import SwiperCarousel from "./react/Swiper";

---
<div class="w-full ">
    <ProductList client:load  />

      <!-- <SwiperCarousel products={[{
    id: 1,
    nombre: "Zapatillas urbanas hombre",
    descripcion: "Estilo urbano para uso diario.",
    precio: 44.99,
    categoria: "hombre",
    tallasDisponibles: [40, 41, 42, 43, 44],
    imagen: "https://images.unsplash.com/photo-1602092298301-5b2adccf264d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
   }]} addProduct={() => {}} client:load />    -->
</div>